
    <main>
        <h1>Apiculteur</h1>
        <div class="apiculteur-info">
          <img class="img_apiculteur" src="assets/img/img_apiculteur.png" alt="Apiculteur">
          <div class="apiculteur-text">
          <h2>Nom apiculteur</h2>
          <p class="parag_apiculteur">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, voluptatem id tenetur fugit corporis quisquam nisi repellat omnis consequatur inventore et dignissimos doloribus esse quasi deleniti est ipsa? Possimus, neque eum ab dolorem vel dolore odit aliquid quisquam consequuntur iste ex excepturi debitis voluptatem velit dignissimos fugit, magnam temporibus quae incidunt optio esse qui voluptas nam dicta! Eum natus reprehenderit vitae voluptatem saepe animi magni atque illo accusamus quod fugiat, ab tenetur sed cum placeat doloribus. Facere asperiores temporibus vero eligendi amet veniam repellat ut sequi! Corrupti, fugit. Dolore, dolorum recusandae! Est sunt repellendus laboriosam molestias, corrupti quos eveniet repellat!</p>            
            <details>
              <summary>Afficher la suite</summary>
              <p class="parag_apiculteur">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, ipsum veniam illo sit sunt dignissimos cupiditate soluta officiis eveniet explicabo vel dicta maxime praesentium ipsa error quasi mollitia quod debitis nisi asperiores maiores cum similique numquam? Aliquid a voluptas nisi tempora eaque pariatur reiciendis architecto alias. Repudiandae recusandae inventore velit ratione officia, delectus, odit ipsam eligendi ipsa veritatis doloremque ex exercitationem dolore nihil, molestiae expedita pariatur adipisci numquam vero totam!</p>
            </details>
          </div>
        </div>
      </main>
