<main>
    <div class="catalogueContainer">
        <h1>Nos produits</h1>
        <div class="gridContainerCatalogue">

            <div class="productContainer pc1">
                <div class="titleImgProduct">
                    <img src="../assets/img/potMiel.jfif" alt="Nom Produit">
                    <h2>Produit 1</h2>
                </div>
                <P class="productText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, accusamus repudiandae...</P>
                <button class="addCart">Ajouter au panier</button>
            </div>

            <div class="productContainer pc2">
                <div class="titleImgProduct">
                    <img src="../assets/img/potMiel.jfif" alt="Nom Produit">
                    <h2>Produit 2</h2>
                </div>
                <P class="productText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, accusamus repudiandae...</P>
                <button class="addCart">Ajouter au panier</button>
            </div>

            <div class="productContainer pc3">
                <div class="titleImgProduct">
                    <img src="../assets/img/potMiel.jfif" alt="Nom Produit">
                    <h2>Produit 3</h2>
                </div>
                <P class="productText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, accusamus repudiandae...</P>
                <button class="addCart">Ajouter au panier</button>
            </div>

            <div class="productContainer pc4">
                <div class="titleImgProduct">
                    <img src="../assets/img/potMiel.jfif" alt="Nom Produit">
                    <h2>Produit 4</h2>
                </div>
                <P class="productText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, accusamus repudiandae...</P>
                <button class="addCart">Ajouter au panier</button>
            </div>

            <div class="productContainer pc5">
                <div class="titleImgProduct">
                    <img src="../assets/img/potMiel.jfif" alt="Nom Produit">
                    <h2>Produit 5</h2>
                </div>
                <P class="productText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, accusamus repudiandae...</P>
                <button class="addCart">Ajouter au panier</button>
            </div>

            <div class="productContainer pc6">
                <div class="titleImgProduct">
                    <img src="../assets/img/potMiel.jfif" alt="Nom Produit">
                    <h2>Produit 6</h2>
                </div>
                <P class="productText">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, accusamus repudiandae...</P>
                <button class="addCart">Ajouter au panier</button>
            </div>
            
        </div>
    </div>

</main>