
  <main>
    <h1>Accueil</h1>
    <div class="container">
      <div class="groupe-sections">
        <section class="nouveautes">
          <h2>Nouveautés</h2>
          <div class="actualites">
            <section class="produitsNouveautes">
              <h3>Titre nouveauté 1</h3>
              <img class="img_acceuil" src="assets/img/potMiel.png" alt="Nouveauté 1">
              <p class="parag_acceuil">Lorem ipsum dolor sit amet...</p>
              <details>
                <summary>Afficher la suite</summary>
                <p class="parag_acceuil">Lorem, ipsum dolor sit amet...</p>
              </details>
            </section>

            <section class="produitsNouveautes">
              <h3>Titre nouveauté 2</h3>
              <img class="img_acceuil"  src="assets/img/potMiel.png" alt="Nouveauté 2">
              <p class="parag_acceuil">Lorem ipsum dolor sit amet...</p>
              <details>
                <summary>Afficher la suite</summary>
                <p class="parag_acceuil">Lorem, ipsum dolor sit amet...</p>
              </details>
            </section>
            <section class="produitsNouveautes">
              <h3>Titre nouveauté 3</h3>
              <img class="img_acceuil"  src="assets/img/potMiel.png" alt="Nouveauté 3">
              <p class="parag_acceuil">Lorem ipsum dolor sit amet...</p>
              <details>
                <summary>Afficher la suite</summary>
                <p class="parag_acceuil">Lorem, ipsum dolor sit amet...</p>
              </details>
            </section>

          </div>
        </section>

        <section class="best-sellers">
          <h2>Best Sellers</h2>
          <div class="actualites">
            <section class="produitsBest">
              <h3>Titre best seller 1</h3>
              <img class="img_acceuil"  src="assets/img/potMiel.png" alt="Best Seller 1">
              <p class="parag_acceuil">Lorem ipsum dolor sit amet...</p>
              <details>
                <summary>Afficher la suite</summary>
                <p class="parag_acceuil">Lorem, ipsum dolor sit amet...</p>
              </details>
            </section>

            <section class="produitsBest">
              <h3>Titre best seller 2</h3>
              <img class="img_acceuil"  src="assets/img/potMiel.png" alt="Best Seller 2">
              <p class="parag_acceuil">Lorem ipsum dolor sit amet...</p>
              <details>
                <summary>Afficher la suite</summary>
                <p class="parag_acceuil">Lorem, ipsum dolor sit amet...</p>
              </details>
            </section>
            <section class="produitsBest">
              <h3>Titre best seller 2</h3>
              <img class="img_acceuil"  src="assets/img/potMiel.png" alt="Best Seller 2">
              <p class="parag_acceuil">Lorem ipsum dolor sit amet...</p>
              <details>
                <summary>Afficher la suite</summary>
                <p class="parag_acceuil">Lorem, ipsum dolor sit amet...</p>
              </details>
            </section>
          </div>
        </section>
      </div>

      <section class="agenda">
        <h2>Agenda des Événements</h2><br>
        <div class="evenements">
          <article class="evenement">
            <h3>Événement 1</h3><br>
            <p class="parag_acceuil">Date : 01 Avril 2025 au 07 Avril 2025</p><br>
            <p class="parag_acceuil">Lieu : Printemps de Bourges</p><br>
            <p class="parag_acceuil">Description : Détails sur l'événement 1...</p>
          </article>
          
          <article class="evenement">
            <h3>Événement 2</h3><br>
            <p class="parag_acceuil">Date : 05 Avril 2025</p><br>
            <p class="parag_acceuil">Lieu : Parc Municipal, Bourges</p><br>
            <p class="parag_acceuil">Description : Détails sur l'événement 2...</p>
          </article>

          <article class="evenement">
            <h3>Événement 3</h3><br>
            <p class="parag_acceuil">Date : 10 Avril 2025</p><br>
            <p class="parag_acceuil">Lieu : Auditorium, Bourges</p><br>
            <p class="parag_acceuil">Description : Détails sur l'événement 3...</p>
          </article>
        </div>
      </section>
    </div>
  </main>
