
    <main>
        <h1>Infos Pratiques</h1>
        <div class="info-container">
            <div class="info-item">
            <img class="img_info" src="assets/img/potMiel.png" alt="Miel">
            <article class="text">
              <h2>Titre info 1</h2>
              <p class="parag_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur cum provident ab soluta eum debitis tenetur ad incidunt repellendus, inventore recusandae culpa sint exercitationem explicabo. Blanditiis quidem nulla exercitationem voluptate nisi. A esse exercitationem minima ratione qui, corrupti ullam eum magnam fugit repudiandae magni, velit deleniti quam accusantium reiciendis sequi.</p>            </article>
          </div>
          <div class="info-item">
            <img class="img_info" src="assets/img/potMiel.png" alt="Miel">
            <div class="text">
              <h2>Titre info 2</h2>
              <p class="parag_info">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci rerum reprehenderit qui saepe similique deserunt modi laborum ipsam explicabo, exercitationem nesciunt odio minus atque consectetur architecto, quod, assumenda rem suscipit autem eligendi repudiandae officia! Dignissimos ea, maiores, aspernatur quia, deserunt reiciendis delectus corrupti vitae praesentium error et nisi? Est, minus!</p>            </div>
          </div>
          <div class="info-item">
            <img class="img_info" src="assets/img/potMiel.png" alt="Miel">
            <article class="text">
              <h2>Titre info 3</h2>
              <p class="parag_info">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis natus similique saepe qui possimus voluptatibus odio cum voluptas ipsum est, sunt recusandae sapiente ea nulla modi repellendus excepturi rerum blanditiis dolore ipsa. Enim sunt reprehenderit adipisci libero vel similique deleniti sapiente eligendi vero et eum sit dolor, molestias, tempora error!*</p>            </article>
          </div>
          <div class="info-item">
            <img class="img_info" src="assets/img/potMiel.png" alt="Miel">
            <article class="text">
              <h2>Titre info 4</h2>
          <p class="parag_info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum aspernatur expedita nobis repellendus autem assumenda nam odio voluptas. Doloribus quibusdam consectetur maxime debitis ipsum, pariatur quia, obcaecati tenetur ipsam nobis laboriosam sunt nemo fugiat similique perferendis. Itaque, officia repellendus iusto magni ipsam animi illo asperiores, soluta facere voluptatibus quas? Blanditiis.</p>          </article>
        </div>
      </main>
