<main>
    <div class="paiementContainer">
        <h1>Paiement</h1>
        <div class="panierContainer">
            <h2>Panier</h2>
            <div class="produitPanier">
                <img src="./assets/img/potMiel.jfif" alt="Produit">
                <p>Produit</p>
                <p>Prix produit</p>
            </div>
            <div class="produitPanier">
                <img src="./assets/img/potMiel.jfif" alt="Produit">
                <p>Produit</p>
                <p>Prix produit</p>
            </div>
            <div class="produitPanier">
                <img src="./assets/img/potMiel.jfif" alt="Produit">
                <p>Produit</p>
                <p>Prix produit</p>
            </div>
            <div class="cartPaiementButton">
                <button class="paiementButton">Payer</button>
                <p>Prix total</p>
            </div>
            
        </div>
    </div>

</main>