<main>
    <div class="pageProductContainer">
        <h1>Nom produit</h1>
        <div class="containerProduct">
            <div class="descImgProduct">
                <img src="../assets/img/potMiel.jfif" alt="Nom Produit">
                <p class="productDescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, quo porro odit commodi voluptates provident officiis ex rem voluptatum ipsam alias minus delectus tenetur reiciendis temporibus fugiat unde repellat id?</p>
            </div>
            <div class="priceButton">
                <button class="addCartProduct">Ajouter au panier</button>
                <h2 class="priceProduct">Prix Produit</h2>
            </div>
        </div>
    </div>
</main>