* {
    margin: 0;
    padding: 0;
}

.logoLink {
    width: 26%;
}

.logo{
    width: 35%;
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCBC24;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.875rem;
    padding: 0.625rem;
    background-image: url(../img/alveoles.png);
    background-size: contain;
}

.navbar, .navbarElements {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbarElements{
    width: 100%;
}
.navbarElements li{
    list-style-type: none;
    margin: auto 2.5%;
    border: 0.125rem solid black;
    border-radius: 0.438rem;
    padding: 0.625rem;
}
.navbarElements li:hover {
    transform: scale(1.05);

}
.navbarElements li a {
    text-decoration: none;
    color: black;
}
.cartConnectContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}
.imgLink {
    margin-right: 1.25rem;
    border: 0.125rem solid black;
    border-radius: 0.438rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.313rem;
}
.imgLink:hover {
    transform: scale(1.05);
}
.cartImg{
    width: 2.813rem;
}
.cartConnectContainer ul li{
    list-style-type: none;
    border: 0.125rem solid black;
    border-radius: 0.438rem;
    padding: 0.625rem;
    text-align: center;
}
.cartConnectContainer ul li:first-child{
    margin-bottom: 0.625rem;
}
.cartConnectContainer ul li:hover {
    transform: scale(1.05);

}
.cartConnectContainer ul li a{
    text-decoration: none;
    color: black;
}
.bandeau {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%; 
    background-color: #FFD700; 
    padding: 0.313rem; 
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.625rem;
}

/* --------------------- Footer ------------------- */

.footerContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FCBC24;
    font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding: 0.625rem;
    background-image: url(../img/alveoles.png);
    background-size: contain;
}
.mentions{
    text-decoration: none;
    color: black;
}
.socialNetwork{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialNetwork ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
}
.socialNetwork ul li{
    list-style-type: none;
    margin: auto 10%;
}
.socialNetwork ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgNetwork{
    width: 1.875rem;
}

@media (max-width: 1024px) {
    .navbarElements li{
        padding: 0.313rem;
        font-size: 0.75rem;
        border: 1px solid black;
    }
    .cartConnectContainer {
        width: 30%;
    }
    .cartConnectContainer ul li {
        padding: 0.5rem;
    }
    .bandeau {
        font-size: 1rem;
    }
    .footerContainer {
        flex-direction: column;
        text-align: center;
    }
    .socialNetwork ul {
        flex-direction: row;
    }
}

/* Pour les écrans de petite taille (mobiles) */
@media (max-width: 768px) {
    .navbar,.spaceConnectMenu{
        display: none;
    }
    .headerContainer {
        text-align: center;
    }
    .logo {
        width: 50%;
        margin: 0 auto;
    }
}
