
@font-face {
  font-family: "sileighty";
  src:
    local("Sileighty"),
    url("Sileighty-Regular.otf") format("opentype"),
    url("Sileighty-Regular.ttf") format("trueType"),
  }

  body {
      font-family: Arial, sans-serif;
      /* margin: 2%; */
      padding: 0;
    }
 
 h1 {
  text-align: center;
  font-family: "Sileighty", sans-serif;
  color: #000000
}
  
  form {
    width: 50%;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid;
    border-radius: 5px;
  }
  
  form > div {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }

 

  input{
    width: 35%;
    padding: 1%;
    margin: 1%;
  }

  input:hover{
    box-shadow: 0 0 20px #FCBC24;
    transform: scale(1.1); 
  }
  
  textarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  textarea {
    height: 150px;
  }

  textarea:hover{
    transform: scale(1.1);
  }
  
  .bouton {
    width: 150px;
    padding: 10px;
    background-color: #FFD700;
    color: #333;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color : #000000
  }

  
  .bouton:hover {
    background-color: #FCBC24;
    
  }
  
  .bouton:last-child {
    background-color: #FFD700;
    color:#000000;
  }
  
  .bouton:last-child:hover {
    background-color: #ffb300;
  }

  @media (max-width: 767px){
    form{
        display: grid;
        grid-template-columns: 1fr;
        width: 80%;
       
    }
    .bouton{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 1%;
    }
}

@media (min-width: 767px) and (max-width: 1023px){
  form{
      display: grid;
      grid-template-columns: 1fr;
      width: 80%;
     
  }
  .bouton{
      display: grid;
      grid-template-columns: 1fr;
      margin-bottom: 1%;
  }
}